main{
    box-sizing: border-box;
}

.holder-galeria{
background-color: beige;
}

.holder-galeria h2{
padding: 0px 40px;
}

.autos, .usados, .motos{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  
    
}

.autos img{
    width: 285px;
    height: 220px;
}

.card{
    margin: 15px;
}

.card-title{
    font-style: bold;
    text-decoration: underline;
}

.usados img{
    width: 285px;
    height: 220px;
}

.motos img{
    width: 285px;
    height: 220px;
}