.holder-nosotros{
    background-color: beige;
}

.historia{
    padding: 2em 1em;
}

.historia h2{
    padding-bottom: 1em;
}


.historia p{
    font-size: 1em;
    padding: 1em 1.5em 1em 1em; 

}

.staff{
    margin: 0;
    
}

.personas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.persona{
    width: 18%;
    float: left;
    border: 1px solid black;
    border-radius: 0.25em;
    box-sizing: border-box;
    background-color: beige;
}

.persona{
    text-align: center;
}

.persona img{
    height: 165px;
    width: 160px;
    border-radius: 50%;
    margin: 0.8em 0 1em;
    border: 1px solid lightblue; 
}

.persona h5 h6 {
    font-weight: normal;
    margin: 0;
}

.persona h5{
    font-size: 0.9em;
    color: #07273b;
}

.persona h6{
    font-size: 0.8em;
    color: #07273b;
    font-style: italic;
    margin-bottom: 1em;
}

.persona p{
    font-size: 0.9em;
    margin: 0 1em 1em;
    color: #444;
}

.persona:first-child{
    margin-left: 0;
}

